In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

DATABASE_URL = "postgresql://dataeng:dataeng123@localhost:5432/nyc_taxi"
engine = create_engine(DATABASE_URL)

with engine.connect() as conn:
    # Basic stats
    print("=== TABLE OVERVIEW ===")
    result = conn.execute(text("SELECT COUNT(*) FROM raw_taxi_trips"))
    print(f"Total rows: {result.scalar():,}")
    
    # Column info
    print("\n=== COLUMNS & TYPES ===")
    schema_query = text("""
        SELECT column_name, data_type, is_nullable
        FROM information_schema.columns
        WHERE table_name = 'raw_taxi_trips'
        ORDER BY ordinal_position
    """)
    for row in conn.execute(schema_query):
        print(f"{row[0]:<30} {row[1]:<20} NULL: {row[2]}")
    
    # Sample data
    print("\n=== SAMPLE ROWS ===")
    df_sample = pd.read_sql(text("SELECT * FROM raw_taxi_trips LIMIT 5"), conn)
    print(df_sample)
    
    # Check for nulls
    print("\n=== NULL COUNTS ===")
    null_query = text("""
        SELECT 
            COUNT(*) - COUNT(tpep_pickup_datetime) as pickup_nulls,
            COUNT(*) - COUNT(tpep_dropoff_datetime) as dropoff_nulls,
            COUNT(*) - COUNT(passenger_count) as passenger_nulls,
            COUNT(*) - COUNT(total_amount) as total_nulls
        FROM raw_taxi_trips
    """)
    result = conn.execute(null_query).fetchone()
    print(dict(result._mapping))
    
    # Data ranges
    print("\n=== DATA RANGES ===")
    ranges_query = text("""
        SELECT 
            MIN(tpep_pickup_datetime) as earliest_pickup,
            MAX(tpep_pickup_datetime) as latest_pickup,
            MIN(total_amount) as min_fare,
            MAX(total_amount) as max_fare,
            AVG(trip_distance) as avg_distance
        FROM raw_taxi_trips
    """)
    result = conn.execute(ranges_query).fetchone()
    print(dict(result._mapping))

=== TABLE OVERVIEW ===
Total rows: 2,964,624

=== COLUMNS & TYPES ===
VendorID                       integer              NULL: YES
tpep_pickup_datetime           timestamp without time zone NULL: YES
tpep_dropoff_datetime          timestamp without time zone NULL: YES
passenger_count                double precision     NULL: YES
trip_distance                  double precision     NULL: YES
RatecodeID                     double precision     NULL: YES
store_and_fwd_flag             text                 NULL: YES
PULocationID                   integer              NULL: YES
DOLocationID                   integer              NULL: YES
payment_type                   bigint               NULL: YES
fare_amount                    double precision     NULL: YES
extra                          double precision     NULL: YES
mta_tax                        double precision     NULL: YES
tip_amount                     double precision     NULL: YES
tolls_amount                   double precision     NULL: YES
improvement_surcharge          double precision     NULL: YES
total_amount                   double precision     NULL: YES
congestion_surcharge           double precision     NULL: YES
Airport_fee                    double precision     NULL: YES

=== SAMPLE ROWS ===
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2024-01-01 00:57:55   2024-01-01 01:17:43              1.0
1         1  2024-01-01 00:03:00   2024-01-01 00:09:36              1.0
2         1  2024-01-01 00:17:06   2024-01-01 00:35:01              1.0
3         1  2024-01-01 00:36:38   2024-01-01 00:44:56              1.0
4         1  2024-01-01 00:46:51   2024-01-01 00:52:57              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.72         1.0                  N           186            79
1           1.80         1.0                  N           140           236
2           4.70         1.0                  N           236            79
3           1.40         1.0                  N            79           211
4           0.80         1.0                  N           211           148

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2         17.7    1.0      0.5        0.00           0.0
1             1         10.0    3.5      0.5        3.75           0.0
2             1         23.3    3.5      0.5        3.00           0.0
3             1         10.0    3.5      0.5        2.00           0.0
4             1          7.9    3.5      0.5        3.20           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         22.70                   2.5          0.0
1                    1.0         18.75                   2.5          0.0
2                    1.0         31.30                   2.5          0.0
3                    1.0         17.00                   2.5          0.0
4                    1.0         16.10                   2.5          0.0

=== NULL COUNTS ===
{'pickup_nulls': 0, 'dropoff_nulls': 0, 'passenger_nulls': 140162, 'total_nulls': 0}

=== DATA RANGES ===
{'earliest_pickup': datetime.datetime(2002, 12, 31, 22, 59, 39), 'latest_pickup': datetime.datetime(2024, 2, 1, 0, 1, 15), 'min_fare': -900.0, 'max_fare': 5000.0, 'avg_distance': 3.65216917895828}